* {
    margin: 0;
    padding: 0.04em;
    box-sizing: border-box;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
}



body {
    background-color: #7957e6;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    margin-top: 2.4em;
}

main {
    width: 55%;
    margin-top: 50PX;
    display: flex;
    flex-direction: column;
    background-color: #5a4ad4;
    border-radius: 9px;
    box-shadow:  -5px 5px 14px #333333,
                 5px 5px 14px #333333;
}

a{
    text-decoration: none;
    color: white;
}


.logo{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

#toggleHistory{
    background: none;
    border: none;
    color: white;
    margin-left: 2em;
    margin-bottom: 1em;
    align-self:flex-start;
}


h1 {
    font-size: 2.5em;
}


#show {
    width: 100%;
    height: 100%;
}

.btnCopy {
    background-color: #2b2844;
    border-radius: 3px;
    height: 100%;
    border: none;
    padding: 10px 4px;
    margin: 3px;
}

#passGen {
    width: 100%;
    text-align: left;
    font-size: 1.5em;
    background-color: #2b2844;
    padding: 0.3em 0.5em;
    height: 100%;
    border-radius: 3px;
    cursor: not-allowed;
}


@media screen and (max-width: 538px) {
    main{
        width: 80%;
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    #show{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

@media screen and (max-width: 420px) {
    main{
        width: 80%;
        display: flex;
        justify-content: center;
    }

    #show{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

@media screen and (max-width: 538px) {
    main{
        width: 80%;
        display: flex;
        justify-content: center;
    }

    #show{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

@media screen and (max-width: 768px) {
    main{
        width: 80%;
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 1024px) {
    main{
        width: 80%;
        display: flex;
        justify-content: center;
    }
}